/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Couleur de fond */
    color: #333; /* Couleur du texte */
}

.container {
    max-width: 1200px; /* Largeur maximale du contenu */
    margin: 0 auto; /* Centrer le contenu horizontalement */
    padding: 20px; /* Espacement autour du contenu */
}

/* Styles de l'en-tête */
header {
    background-color: #343a40; /* Couleur de fond de l'en-tête */
    color: #fff; /* Couleur du texte de l'en-tête */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre */
}

/* Styles de la barre de navigation */
nav {
    background-color: #495057; /* Couleur de fond de la barre de navigation */
    color: #fff; /* Couleur du texte de la barre de navigation */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Supprimer la marge du dernier élément */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px; /* Ajout de coins arrondis */
    transition: background-color 0.3s ease; /* Ajout d'une transition fluide */
}

nav ul li a:hover {
    background-color: #6c757d; /* Changement de couleur au survol */
}

/* Styles du contenu */
section {
    padding: 20px;
    background-color: #fff; /* Couleur de fond du contenu */
    border-radius: 5px; /* Ajout de coins arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre */
}

h2 {
    color: #333; /* Couleur du texte des titres */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cropped-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 20px;
}

.text-container {
    flex-grow: 1;
}

.prenom-naissance {
    text-align: right;
}

